@font-face {
  font-family: "Michroma";
  src: url(fonts/Michroma.ttf) format("truetype");
}

@font-face {
  font-family: "AmazDoom";
  src: url(fonts/AmazDooMLeft2.ttf) format("truetype");
}

body, html {
  font-family: Michroma;
  background-image: url("DOOM_Cover.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body {
  overflow: hidden;
}

.nav-tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-tabs a {
  color: white;
}

.navbar1 {
  background: transparent !important;
  border: none;
  margin-bottom: 0;
}

.navbar1 .navbar-collapse {
  border: 0;
}

.navbar1 .navbar-brand {
  color: #f0f0f0;
}

.navbar1 .nav-link {
  color: #f0f0f0 !important;
}

.navbar1 .navbar-toggler {
  border: none;
  border-radius: 0px;
  background: transparent !important;
}

.navbar1 .navbar-toggler .icon-bar {
  background-color: #f0f0f0;
  display: block;
  width: 22px;
  height: 3px;
  margin-top: 3px;
  margin-bottom: 2px;
  transition: all 0.2s;
}

.carousel {
  width: 70%;
  overflow: hidden;
  display: inline-block;
}

.carousel img {
  height: 100%;
  width: auto;
}

.pageDiv {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.pageImage {
  height: 45%;
  width: auto;
  padding-bottom: 10px;
}

.enemies-image {
  max-width: 200;
  max-height: 200;
  margin: 30;
}

#doomHeader {
  font-family: AmazDoom;
  color: white;
  text-align: center;
  font-size: 9vw;
  padding-top: 50px;
}

#doomLogo {
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card {
  width: 95% !important;
  height: 93% !important;
  background-color: transparent !important;
  border: 0 !important;
}

.card-header {
  font-family: AmazDoom;
  color: white;
  font-size: 48px;
  border: 0;
  padding-bottom: 0;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
}

.flames-bg {
  opacity: 0.5;
  background-image: url("flames.gif") !important;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
}
